*{
    margin: 0;
    padding: 0;
}
img{
    border: solid yellowgreen;
    border-bottom-left-radius: 400px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
}
h1{
    font-size: 80px;
    font-family: monospace;
    color: darkblue;
}
p{
    height: 355px;
    border: solid yellow;
    border-bottom-left-radius: 400px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    border-bottom-right-radius: 400px;
}
h2{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: springgreen;
}
p1{
    font-size: 50px;
    color: black;
    text-indent: 20px;
}